<!DOCTYPE html>
<html lang="en">
<%- include('../partcial.head') %>

    <body>
        <div id="wrapper">
            <%- include('../partcial.header') %>
                <%- include('../partcial.navigation') %>
                    <main>
                        <%- body %>
                            <%- include('../partcial.footer') %>
                    </main>
        </div>


    </body>

</html>