<main>
    <a href="/inv" class="back-button">Back to Management</a>

    <h1 class="add">Add New Vehicle</h1>

    <% if (errors) { %>
        <ul class="flash-message">
            <% errors.forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>


            <form class="add-inventory-form" action="/inv/add-inventory" method="POST">
                <label for="classification_id">Classification</label>
                <%- classificationList %>

                    <label for="inv_make">Make</label>
                    <input type="text" id="inv_make" name="inv_make" value="<%= inv_make || '' %>" required>

                    <label for="inv_model">Model</label>
                    <input type="text" id="inv_model" name="inv_model" value="<%= inv_model || '' %>" required>

                    <label for="inv_year">Year</label>
                    <input type="number" id="inv_year" name="inv_year" value="<%= inv_year || '' %>" required min="1900"
                        max="2099">

                    <label for="inv_description">Description</label>
                    <textarea id="inv_description" name="inv_description"
                        required><%= inv_description || '' %></textarea>

                    <label for="inv_image">Image Path</label>
                    <input type="text" id="inv_image" name="inv_image"
                        value="<%= inv_image || '/images/no-image-available.png' %>" required>

                    <label for="inv_thumbnail">Thumbnail Path</label>
                    <input type="text" id="inv_thumbnail" name="inv_thumbnail"
                        value="<%= inv_thumbnail || '/images/no-image-available.png' %>" required>

                    <label for="inv_price">Price</label>
                    <input type="number" id="inv_price" name="inv_price" value="<%= inv_price || '' %>" required
                        step="0.01">

                    <label for="inv_miles">Mileage</label>
                    <input type="number" id="inv_miles" name="inv_miles" value="<%= inv_miles || '' %>" required>

                    <label for="inv_color">Color</label>
                    <input type="text" id="inv_color" name="inv_color" value="<%= inv_color || '' %>" required>

                    <button type="submit">Add Vehicle</button>
            </form>
</main>