<%- include("../partials/header") %>
    <h1>
        <%= car.inv_make %>
            <%= car.inv_model %>
    </h1>
    <img src="<%= car.inv_image %>" alt="<%= car.inv_make %> <%= car.inv_model %>">
    <p>Price: $<%= car.inv_price %>
    </p>
    <p>Description: <%= car.inv_description %>
    </p>
    <%- include("../partials/footer") %>