<!-- views/errors/error.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <div id="wrapper">
        <%- include('../partials/_header') %>
        <%- nav %> <!-- Display navigation -->
        <main>
            <h1>
                <%= message || 'An error occurred' %>
            </h1>
            <p>Status: <%= status || 500 %></p>
        </main>
        <%- include('../partials/_footer') %>
    </div>
</body>
</html>
